WEB_PORT=3000
GATEWAY_PORT=3001
APP_ORIGIN=http://localhost:3000
ORACLE_PORT=1521
REDIS_PORT=6379
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
ORACLE_PASSWORD=DexaOracle1!
IDENTITY_ORACLE_PASSWORD=DexaIdentity1!
ATTENDANCE_ORACLE_PASSWORD=DexaAttendance1!
REDIS_PASSWORD=DexaRedis1!
RATE_LIMIT_REDIS_PASSWORD=DexaRateLimit1!
DEMO_HRD_PASSWORD=DexaAdministrator1!
DEMO_EMPLOYEE_PASSWORD=DexaEmployee1!
ARGON2_MEMORY_COST=19456
ARGON2_TIME_COST=2
ARGON2_PARALLELISM=1
JWT_ISSUER=dexa-identity
MINIO_ROOT_USER=dexaadmin
MINIO_ROOT_PASSWORD=DexaMinio1!
